@using EntityLayer.Concrete
@model List<Blog> 
@{
    ViewData["Title"] = "Bloglarım";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>   
<table class="table table-bordered">
    <tr>
        @*<th>#</th>*@
        <th>Blog Başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>    
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>@item.BlogID</td>*@
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("d"))</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogStatus</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>



        </tr>
    }
</table>
<br />
<a href="/Blog/NewBlog" class="btn btn-primary">Yeni Blog</a>


