@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bloğu Güncelle</h1>
@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post))
            {
<div>
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(p => p.BlogTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Adı");
    @Html.DropDownListFor(p => p.CategoryID, (List<SelectListItem>)ViewBag.valuecat, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextAreaFor(p => p.BlogContent, 20, 3, new { @class = "form-control" })


</div>
<br />
<button class="btn btn-primary">Güncelle</button>

            }
